{% load static %}
<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'auth/auth.css' %}" />
    <link rel="stylesheet" href="{% static '/fontawesome/css/all.min.css' %}">
    <title>Editar Senha</title>
  </head>

  <body class="login-bg">
    <main class="container">
      {% if status == "0" %}
      <div class="alert-red" style="display: block;" >
        <h3>Senha ou E-mail Errado/a   <span role="button" class="X" name="alerta" onclick=closealerta()><i class="fa-solid fa-xmark"></i></span></h3>
    {% if tentativa > 3 %}
        <h3>Se esqueceu a senha tente recuperar ela <a href="{% url 'recuperar_senha_um' %}">Recuperar Senha</a></h3>
    {% endif %}
     </div>
      </div>
      {% endif %}
       {{usuario_id}}
      <form action="{% url 'alterar_senha' usuario_id %}" autocomplete="off" method="POST">{% csrf_token %}
        <h1>Alterar senha</h1>
        <div class="input-box">
          <input
            type="password"
            name="senha_nova"
            id="password"
            placeholder="Nova Palavra-Passe"
            required
          />
        </div>
        <button type="submit" class="login"><abbr title="Fazer Login">Mudar senha</abbr></button>
        <div class="remenber-forgot">
          <a href="{% url 'recuperar_senha_um' %}">Recuperar senha</a>
        </div>
      </form>
    </main>
    <script src="{% static 'login/login.js' %}"></script>
    <script src="{% static '/fontawesome/js/all.min.js' %}"></script>
  </body>
</html>
