{% load static %}
<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'auth/auth.css' %}" />
    <link rel="stylesheet" href="{% static '/fontawesome/css/all.min.css' %}">
    <title>Recuperar conta</title>
  </head>

  <body class="rec-bg">
    <main class="container">

      <form action="{% url 'recuperar_senha_dois' %}" autocomplete="off" method="POST">{% csrf_token %}
        <h1>Recuperar conta 2</h1>
                <div class="input-box">
          <input
            type="text"
            name="name"
            id="username"
            placeholder="Nome do Usuário"
            required
          />
        </div>
              <div class="input-box">
          <input
            type="text"
            name="bi"
            id="bi"
            placeholder="Número do BI"
            required
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            name="senha_rec"
            id="password"
            placeholder="senha de recuperação 2"
            required
          />
        </div>
        <button type="submit" class="login"><abbr title="Fazer Login">Recuperar Senha</abbr></button>
        <div class="remenber-forgot">
          <a href="{% url 'recuperar_senha_um' %}">Recuperar senha 1</a>
          <a href="{% url 'login' %}">Fazer login</a>
        </div>
      </form>
    </main>
    <script src="{% static 'login/login.js' %}"></script>
    <script src="{% static '/fontawesome/js/all.min.js' %}"></script>
  </body>
</html>
